#chatWindow {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%);
    width: 540px;
    height: Calc(100% - 310px);
    border: 1px solid black;
    text-align: left;
}

#chatEnter {
    position: absolute;
    bottom: 5px;
    font-size: 14pt;
}

#chatInput {
    width: 468px;
}

#chatInput, #chatSubmit {
    font-size: 14pt;
}

#chatContent {
    margin: 0;
    position: relative;
    width: 100%;
    height: Calc(100% - 14pt - 6px);
    top: 0;
    overflow: scroll;
}
