html, body {
    text-align: center;
}

/* grid */
#grid {
    height: 40vh;
    width: 40vh;
    float: left;
    margin: 0, 0, 0, 5vh;
}
.row {
    width: 100%;
    height: 33.3%;
}
.box {
    border: 1px solid black;
    width: 33.3%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    font-size: 12vh;
}
#topLeft, #topCenter, #topRight {
    border-top: none;
}
#topLeft, #centerLeft, #bottomLeft {
    border-left: none;
}
#bottomLeft, #bottomCenter, #bottomRight {
    border-bottom: none;
}
#bottomRight, #centerRight, #topRight {
    border-right: none;
}

#gameWindow {
    width: 540px;
    display: inline-block;
}

#score {
    display: block;
    bottom: 0;
}

/* chat */
#chatWindow {
    height: 45vh;
    top: 54vh;
}
